In [23]:
print("Hell")

Hell

In [24]:
%pip install pandas

2094.42s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: pandas in /Users/sp/Desktop/leanr_py/.conda/lib/python3.11/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in /Users/sp/Desktop/leanr_py/.conda/lib/python3.11/site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sp/Desktop/leanr_py/.conda/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/sp/Desktop/leanr_py/.conda/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/sp/Desktop/leanr_py/.conda/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/sp/Desktop/leanr_py/.conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import pandas as pd

#Read_TXTFILE

To read txt file we can use pandas.read_csv(r"",sep='\t)\
or Use pandas.read_table(r"",sep=",")

#Read_CSV
pandas.read_csv()
-for specific sheet use sheet_name

#Read_json
pandas.read_josn()

In [50]:
df=pd.read_csv("countries of the world.csv")
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

#To view more rows use
-- pd.set_option("display.max.rows",227)

#To view more columns value use
--pandas.set.option("display.max.columns,number")

In [36]:
pd.set_option("display.max.rows",227)

In [39]:
df.info() #info->data info , non null count and memeory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  227 non-null    object
 1   Region   227 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [40]:
df.shape # row and column

(227, 2)

In [43]:
df.tail(10) # head() and tail() to view top and bottom data

                Country                               Region
217            Vanuatu   OCEANIA
218          Venezuela               LATIN AMER. & CARIB
219            Vietnam         ASIA (EX. NEAR EAST)
220     Virgin Islands               LATIN AMER. & CARIB
221  Wallis and Futuna   OCEANIA
222          West Bank   NEAR EAST
223     Western Sahara   NORTHERN AFRICA
224              Yemen   NEAR EAST
225             Zambia   SUB-SAHARAN AFRICA
226           Zimbabwe   SUB-SAHARAN AFRICA

In [48]:
pd.set_option("display.max.rows",120)
df['Country']

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
222         West Bank
223    Western Sahara
224             Yemen
225            Zambia
226          Zimbabwe
Name: Country, Length: 227, dtype: object

## iloc vs loc
s = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2]) 
#
49    a
48    b
47    c
0     d
1     e
2     f
###
s.loc[0]--> d # value at index label 0
#
s.iloc[0]-->a # value at index location 0